Monitoring/Connected Services/MonitorRef/Monitor.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Monitor" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/Monitor?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/Monitor?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/Monitor?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMonitor_GetRequestNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestNumber" />
  </wsdl:message>
  <wsdl:message name="IMonitor_GetRequestNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetRequestNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitor_GetCacheRequestNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCacheRequestNumber" />
  </wsdl:message>
  <wsdl:message name="IMonitor_GetCacheRequestNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCacheRequestNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IMonitor_GetCacheContent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCacheContent" />
  </wsdl:message>
  <wsdl:message name="IMonitor_GetCacheContent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCacheContentResponse" />
  </wsdl:message>
  <wsdl:portType name="IMonitor">
    <wsdl:operation name="GetRequestNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitor/GetRequestNumber" message="tns:IMonitor_GetRequestNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitor/GetRequestNumberResponse" message="tns:IMonitor_GetRequestNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCacheRequestNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitor/GetCacheRequestNumber" message="tns:IMonitor_GetCacheRequestNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitor/GetCacheRequestNumberResponse" message="tns:IMonitor_GetCacheRequestNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCacheContent">
      <wsdl:input wsaw:Action="http://tempuri.org/IMonitor/GetCacheContent" message="tns:IMonitor_GetCacheContent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMonitor/GetCacheContentResponse" message="tns:IMonitor_GetCacheContent_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MyMonitor" type="tns:IMonitor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRequestNumber">
      <soap:operation soapAction="http://tempuri.org/IMonitor/GetRequestNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCacheRequestNumber">
      <soap:operation soapAction="http://tempuri.org/IMonitor/GetCacheRequestNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCacheContent">
      <soap:operation soapAction="http://tempuri.org/IMonitor/GetCacheContent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Monitor">
    <wsdl:port name="MyMonitor" binding="tns:MyMonitor">
      <soap:address location="http://localhost:8081/Service1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>