ClientEvent/Connected Services/ServiceReference1/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/IWS_Soap" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/IWS_Soap" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfContract">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Contract" nillable="true" type="tns:Contract" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfContract" nillable="true" type="tns:ArrayOfContract" />
  <xs:complexType name="Contract">
    <xs:sequence>
      <xs:element minOccurs="0" name="country_code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Contract" nillable="true" type="tns:Contract" />
  <xs:complexType name="ArrayOfStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Station" nillable="true" type="tns:Station" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStation" nillable="true" type="tns:ArrayOfStation" />
  <xs:complexType name="Station">
    <xs:sequence>
      <xs:element minOccurs="0" name="address" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="available_bike_stands" type="xs:int" />
      <xs:element minOccurs="0" name="available_bikes" type="xs:int" />
      <xs:element minOccurs="0" name="bike_stands" type="xs:int" />
      <xs:element minOccurs="0" name="contact_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="number" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Station" nillable="true" type="tns:Station" />
</xs:schema>